/* Theme Info */
/* styles for admin page */

.corvona--about-page--wrapper {
  max-width: 1200px;
  margin: 40px auto;
  padding: 40px;
  background-color: #fff;
}

.corvona--about-page--wrapper .feature-list {
  display: block;
}
.corvona--about-page--wrapper .corvona-header-left > .fs-notice {
  display: none !important;
}
.corvona-header-left h2 {
  color: #00265e !important;
}

.corvona--about-page--wrapper .corvona-admin-card-header {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  max-width: 100%;
  background: rgb(245, 245, 245);
  box-shadow: 1px 1px 10px -7px black;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  margin: 0 0 30px 0;
}
.corvona-admin-card-header {
  color: #00265e;
}
.corvona--about-page--wrapper .corvona-admin-card-header h2 {
  margin: 0;

  font-size: 3rem;
  line-height: 1.2;
}
.corvona--about-page--wrapper .corvona-admin-card-header p {
  color: #00265e;
}
.corvona--about-page--wrapper .corvona-header-right {
  justify-self: flex-end;
}

#corvona-admin-about-page p,
#corvona-admin-about-page {
  font-size: 17px;
  line-height: 1.7;
  margin: 0 0 15px;
}

.corvona-admin-button {
  padding: 10px 30px;
  text-decoration: inherit;
  background: #ff6600;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  line-height: 1.75;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 35px;
}
.corvona-admin-button.premium-button {
  margin-left: 5px;
  color: #fff;
}
.corvona-admin-button:hover {
  background: #00265e;
  color: #fff;
}

.corvona-about-side {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 30px 0;
  box-shadow: 1px 1px 10px -7px black;
}
.corvona-about-side .corvona-admin-card {
  background: rgb(248, 248, 248);
  padding: 50px;
  border-radius: 5px;
  color: #00265e;
  text-align: center;
}
.corvona-about-side .corvona-admin-card h3 {
  font-size: 2rem;
  line-height: 1.5;
  margin: 0 0 15px 0;
  color: #00265e;
}
.corvona-about-side .corvona-admin-card .corvona-admin-button {
  margin-top: 5px;
  display: inline-block;
}
.corvona-about-side .corvona-admin-card p,
.corvona-about-side .corvona-admin-card h4 {
  font-size: 17px;
  line-height: 1.7;
  margin: 0 0 15px;
}

.corvona-card-header-button-group {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.corvona-compare-table-subtitle {
  font-size: 16px;
}

.corvona-compare-table-subtitle a,
.olive-one-click-demo-import-banner p a {
  text-decoration: none;
  color: #ff6600 !important;
}
.corvona-compare-table-subtitle a:hover {
  color: #00265e !important;
}
.corvona-compare-table-subtitle a:hover,
.olive-one-click-demo-import-banner p a {
  color: #00265e;
}
.corvona-compare-table-subtitle a i {
  font-size: 15px;
  line-height: 2.2;
}

.corvona-compare-table table {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 2em;
  width: 100%;
  color: #000;
  box-shadow: 0 0 33px #0000001a;
}
.corvona-compare-table table th {
  border-bottom: 1px solid #ffffff;
  padding: 15px;
  color: #00265e;
  
}
.corvona-compare-table table td {
  padding: 1em;
  text-align: center;
  color: #00265e;
}
.corvona-compare-table table td span {
  font-size: 21px;
  border-radius: 100%;
  padding: 5px;
  color: #d72b2b;
}
.corvona-compare-table table td span.dashicons.dashicons-yes {
  text-align: center;
  color: #4caf50;
}
.corvona-compare-table table tr:nth-child(2n) td {
  background: #def0ff;
}