<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
 
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
	<!-- wp:pattern {"slug":"corvona/banner-home2"} /--> 
    <!-- wp:pattern {"slug":"corvona/aboutus-home2"} /--> 
	<!-- wp:pattern {"slug":"corvona/features-home2"} /-->
	<!-- wp:pattern {"slug":"corvona/services-home2"} /-->	
	<!-- wp:pattern {"slug":"corvona/team-home2"} /-->
	<!-- wp:pattern {"slug":"corvona/testimonials-home2"} /-->
	<!-- wp:pattern {"slug":"corvona/pricing-home2"} /-->
	<!-- wp:pattern {"slug":"corvona/post-list"} /-->
	<!-- wp:pattern {"slug":"corvona/process-home2"} /-->
	<!-- wp:pattern {"slug":"corvona/contact-home2"} /-->
	<!-- wp:pattern {"slug":"corvona/parter-home2"} /-->
	</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
